<div class="col-md-6 offset-md-3" style="margin-right: 12%;">
    <div class="card text-secondary bg-dark mb-3" style="max-width: 70%;min-width: 70%;">
        <div class="card-body">
            <div class="row justify-content-between px-3">
                <div>
                    <strong class="text-light" style="font-size: 25px;">monobank</strong>  |  Universal Bank
                </div>
                <img src="../public/contactless.png" alt="contactless" width="13%">
            </div>
            <div class="row pt-1">
                <div class="col">
                    <img src="../public/chip.png" alt="chip" width="20%">
                </div>
                <div class="column col-xs-3 pr-4" style="margin-top: 25px;"> world </div>
            </div>
            <div class="row justify-content-md-center">
                <h3 style="letter-spacing: 1px;" id="numberStr">5375 4411 4540 0954</h3>
            </div>
            <div class="row pl-3" style="margin-left: 50%;">
                <small style="font-size: 7px;line-height: 8px; padding:5px">VALID <br> THRU</small>
                <strong id="dateStr">06/24</strong>
            </div>
            <div class="row pl-3 justify-content-between">
                <h5 id="nameStr">DONALD FLINCH CORTEZ</h5>
                <img src="../public/mastercard.png" alt="mastercard" width="25%" style="margin-top: -50px;margin-left:75%" class="position-relative">
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 ">
    <div class="card">
        <div class="card-body">
            <form action="/new-card" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="cardNumber">Número de Tarjeta</label>
                        <input type="number" name="cardNumber" id="numberInput" onkeyup="changeNumber()" pattern="\b\d{4}[ -]?\d{4}[ -]?\d{4}[ -]?\d{4}\b" placeholder="XXXX XXXX XXXX XXXX" class="form-control mb-3" required/>
                    </div>
                    <div class="col">
                        <label for="date">Fecha Vencimiento</label>
                        <input type="text" name="date" id="dateInput" maxlength="5" onkeyup="changeDate()" pattern="(0?[1-9]|[1][0-2])/2[2-9]" placeholder="MM/YY" class="form-control mb-3" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="name">Nombre Titular</label>
                        <input type="text" name="name"  id="nameInput" maxlength="20" onkeyup="changeName()" pattern="[a-zA-ZñÑäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\s]+" placeholder="Nombre Apellido" class="form-control mb-3" required />
                    </div>
                    <div class="col">
                        <label for="cvv">CVV</label>
                        <input type="number" name="cvv" maxlength="3" placeholder="XXX" class="form-control mb-3" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" value="Agregar Tarjeta" class="btn btn-primary">
                        <input type="reset" value="Cancelar" class="btn btn-light" onclick="clean()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#if cards}}
    {{#each cards}}
        <div class="col-md-6 offset-md-4 p-2" style="margin-right: 33%;">
            <div class="card bg-light">
                <div class="card-body d-flex justify-content-between">
                  <span class="badge rounded-pill bg-primary"> {{id}} </span> {{masked}} <strong> | </strong> {{name}} <strong> | </strong> {{date}} 
                  <a href="/delete-card/{{@key}}" class="btn btn-danger">x</a>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}


