<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SII Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="../../public/main.js"></script>
</head>
<body>
    <div class="container p-4">
        <div class="row d-flex justify-content-center">
            {{{body}}}
        </div>
    </div>
</body>
</html>